#form{
    background-color:#dde1f9 ;
    width: 23em;
    border-radius: 20px;
    position: fixed;
    top: calc(50% - 14rem);
    left: calc(50% - 12rem);
    z-index: 10;
    box-shadow: 0px 7px 15px black;
    >form{
        display: grid;
        gap: 1.5rem;
        padding:2rem;
        >.inptField{
            display: grid;
            >input{
                display: grid;
                padding:10px 15px;
                font-size: medium;
                background-color: #dde1f9;
                border: none;
                border-left:1px solid black ;
                border-bottom: 1px solid black;
                border-radius: 10px 0  10px 0;
                box-shadow: 0px 7px 15px gray;
                color: rgb(51, 50, 50);
            }
            >input:focus{
                outline: none;
            }
            >::placeholder{
                color: rgb(27, 26, 26) !important;
            }
            >span{
                display: flex;
                padding: 0 10px;
                justify-content: flex-end;
                font-size: 14px;
                font-weight: 500;
                color: red;
            }
        }

    }
    #create{
        width: 6rem;
        padding:10px;
        border: none;
        border-radius: 5px;
        background-color: #2dcf2d;
        color: black;
        font-weight: 800;
    }
   >#formHeader{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        >h3{
            flex: 1;
            text-align: center;
            font-size: 2rem;
        }
        >#close{
            font-size: 23px;
            border-radius: 5px;
            border: none;
            background: transparent;
            color: black
        }

    }
}