#search{
    width: 10em;
    transition: 1s;
    position: fixed;
    top: 7.5em;
    right: 15rem;
    font-size: 14px;
    outline: none;
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid #404f6c;
    background: transparent;

}
#search:focus{
    width: 20em;
}
#search::placeholder{
    color: black;
}
