#search{
    width: 10em;
    transition: .7s;
    position: absolute;
    right: 6.5rem;
    top: -2.5rem;
    font-size: 14px;
    outline: none;
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid #404f6c;
    background: transparent;

}
#search:focus{
    width: 20em;
}
#search::placeholder{
    color: black;
}
